{% extends 'base.html' %}

{% block content %}

<div class="container">

    <div class="user_name_div">
        <h1 class="display-4">
            {{user.user_name}}
        </h1>
    </div>

    <div class="profile-pic">
        <img src="{{user.image_url}}" alt="{{user.user_name}}" class="img-thumbnail">
    </div>
    <div class="name-and-info">
        <h4>{{user.first_name}} {{user.last_name}}</h4>
    </div>


    <div class="row">

        <form action="/users/{{user.user_name}}/edit" class="col-2">
            <button class="btn btn-success">edit</button>
        </form>
        <form action="/users/{{user.user_name}}/delete" class="col-2" method="POST">
            <button class="btn btn-danger">delete</button>
        </form>
    </div>



</div>


{% endblock%}

